[submodule "plugins/evil"]
	path = plugins/evil
	url = https://github.com/emacs-evil/evil
[submodule "plugins/flycheck"]
	path = plugins/flycheck
	url = https://github.com/flycheck/flycheck
[submodule "plugins/company"]
	path = plugins/company
	url = https://github.com/company-mode/company-mode
[submodule "plugins/smartparens"]
	path = plugins/smartparens
	url = https://github.com/Fuco1/smartparens
[submodule "plugins/evil-leader"]
	path = plugins/evil-leader
	url = https://github.com/cofi/evil-leader
[submodule "plugins/smex"]
	path = plugins/smex
	url = https://github.com/nonsequitur/smex
[submodule "plugins/which-key"]
	path = plugins/which-key
	url = https://github.com/justbur/emacs-which-key
[submodule "plugins/evil-nerd-commenter"]
	path = plugins/evil-nerd-commenter
	url = https://github.com/redguardtoo/evil-nerd-commenter
[submodule "plugins/key-chord"]
	path = plugins/key-chord
	url = https://github.com/sdellysse/key-chord.el
[submodule "plugins/swiper"]
	path = plugins/swiper
	url = https://github.com/abo-abo/swiper
[submodule "plugins/hungry-delete"]
	path = plugins/hungry-delete
	url = https://github.com/nflath/hungry-delete
[submodule "plugins/markdown-mode"]
	path = plugins/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "plugins/wakatime-mode"]
	path = plugins/wakatime-mode
	url = https://github.com/wakatime/wakatime-mode
[submodule "plugins/exec-path-from-shell"]
	path = plugins/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
[submodule "plugins/all-the-icons"]
	path = plugins/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el
[submodule "plugins/all-the-icons-dired"]
	path = plugins/all-the-icons-dired
	url = https://github.com/jtbm37/all-the-icons-dired
[submodule "plugins/rainbow-delimiters"]
	path = plugins/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters
[submodule "plugins/quickrun"]
	path = plugins/quickrun
	url = https://github.com/emacsorphanage/quickrun
[submodule "plugins/diminish"]
	path = plugins/diminish
	url = https://github.com/myrjola/diminish.el
[submodule "plugins/doom-themes"]
	path = plugins/doom-themes
	url = https://github.com/hlissner/emacs-doom-themes
[submodule "plugins/ranger"]
	path = plugins/ranger
	url = https://github.com/ralesi/ranger.el
[submodule "plugins/dash"]
	path = plugins/dash
	url = https://github.com/magnars/dash.el
[submodule "plugins/lazy-load"]
	path = plugins/lazy-load
	url = https://github.com/manateelazycat/lazy-load
[submodule "plugins/evil-collection"]
	path = plugins/evil-collection
	url = https://github.com/emacs-evil/evil-collection
[submodule "plugins/indent-guide"]
	path = plugins/indent-guide
	url = https://github.com/zk-phi/indent-guide
[submodule "plugins/general"]
	path = plugins/general
	url = https://github.com/noctuid/general.el
[submodule "plugins/vterm"]
	path = plugins/vterm
	url = https://github.com/akermu/emacs-libvterm.git
[submodule "plugins/shell-pop"]
	path = plugins/shell-pop
	url = https://github.com/kyagi/shell-pop-el
[submodule "plugins/arduino"]
	path = plugins/arduino
	url = https://github.com/stardiviner/arduino-mode.git
[submodule "plugins/spinner"]
	path = plugins/spinner
	url = https://github.com/Malabarba/spinner.el
[submodule "plugins/benchmark"]
	path = plugins/benchmark
	url = https://github.com/dholm/benchmark-init-el.git
[submodule "plugins/amx"]
	path = plugins/amx
	url = https://github.com/DarwinAwardWinner/amx
[submodule "plugins/s"]
	path = plugins/s
	url = https://github.com/magnars/s.el.git
[submodule "plugins/highlight-indent-guides"]
	path = plugins/highlight-indent-guides
	url = https://github.com/DarthFennec/highlight-indent-guides
[submodule "plugins/emacs-format-all-the-code"]
	path = plugins/emacs-format-all-the-code
	url = https://github.com/lassik/emacs-format-all-the-code
[submodule "plugins/visual-fill-column"]
	path = plugins/visual-fill-column
	url = https://github.com/joostkremers/visual-fill-column
[submodule "plugins/rainbow-identifiers"]
	path = plugins/rainbow-identifiers
	url = https://github.com/Fanael/rainbow-identifiers
[submodule "plugins/hackernews"]
	path = plugins/hackernews
	url = https://github.com/clarete/hackernews.el
[submodule "plugins/esup"]
	path = plugins/esup
	url = https://github.com/jschaf/esup
[submodule "plugins/awesome-tab"]
	path = plugins/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab
[submodule "plugins/awesome-tray"]
	path = plugins/awesome-tray
	url = https://github.com/manateelazycat/awesome-tray
[submodule "plugins/snails"]
	path = plugins/snails
	url = https://github.com/manateelazycat/snails
[submodule "plugins/magit"]
	path = plugins/magit
	url = https://github.com/magit/magit
[submodule "plugins/with-editor"]
	path = plugins/with-editor
	url = https://github.com/magit/with-editor
[submodule "plugins/transient"]
	path = plugins/transient
	url = https://github.com/magit/transient
[submodule "plugins/aweshell"]
	path = plugins/aweshell
	url = https://github.com/manateelazycat/aweshell
[submodule "plugins/annalist"]
	path = plugins/annalist
	url = https://github.com/noctuid/annalist.el
[submodule "plugins/hydra"]
	path = plugins/hydra
	url = https://github.com/abo-abo/hydra
[submodule "plugins/speed-type"]
	path = plugins/speed-type
	url = https://github.com/parkouss/speed-type
[submodule "plugins/auto-save"]
	path = plugins/auto-save
	url = https://github.com/manateelazycat/auto-save
[submodule "plugins/sdcv"]
	path = plugins/sdcv
	url = https://github.com/manateelazycat/sdcv
[submodule "plugins/posframe"]
	path = plugins/posframe
	url = https://github.com/tumashu/posframe
[submodule "plugins/youdao-dictionary"]
	path = plugins/youdao-dictionary
	url = https://github.com/xuchunyang/youdao-dictionary.el
[submodule "plugins/pos-tip"]
	path = plugins/pos-tip
	url = https://github.com/pitkali/pos-tip
[submodule "plugins/popup"]
	path = plugins/popup
	url = https://github.com/auto-complete/popup-el
[submodule "plugins/chinese-word-at-point"]
	path = plugins/chinese-word-at-point
	url = https://github.com/xuchunyang/chinese-word-at-point.el
[submodule "plugins/names"]
	path = plugins/names
	url = https://github.com/Malabarba/names
[submodule "plugins/telega"]
	path = plugins/telega
	url = https://github.com/zevlg/telega.el/tree/releases
[submodule "plugins/nox"]
	path = plugins/nox
	url = https://github.com/manateelazycat/nox
